<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.varshaaweblabs.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen.View.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".LoginActivity.View.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".HomeScreenDrawer.View.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Filter.View.FilterActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Filter.View.FilterProductList"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".ProductFullDetails.View.ProductfullDetails"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".ProductFullDetails.View.ProductFullImage"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Cart.View.AddToCartActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".PlaceOrder.View.Activity_Order_Summery"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity
            android:name=".Payment.View.Payment_Activity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Payment.View.Activity_Congratulations"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".PlaceOrder.View.Show_Address_Activity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".PlaceOrder.View.Add_Edit_Address_Activity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>


        <activity
            android:name=".Account.View.My_Account_Activity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".Account.View.Add_Edit_User_Activity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name=".Account.View.Forgot_Password_Activity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>

        <activity
            android:name=".OrderDetails.View.User_Order_Activity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>

        <activity
            android:name=".OrderDetails.View.Order_Full_Details_Activity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>